---
http_interactions:
- request:
    method: get
    uri: http://demo.awsm.co.za/is/api/json.php?OPT_ref&address&am_name&company_name&lat=-26.5583&lng=28.0197&price=true&sla=economy&speed=10&term=36&wireless=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"lat\":\"-26.5583\",\"lng\":\"28.0197\",\"available_solutions\":[{\"zone\":2,\"type\":\"fibre2\",\"node_name\":\"Meyerton\",\"node_distance\":\"583.76017612524\",\"node_lat\":\"-26.557097\",\"node_lng\":\"28.013987\"}],\"price\":{\"NRC\":13000,\"MRC\":17621},\"QLT_ref\":\"IS-55534d62de0fd\"}\r\n\r\n\t\r\n\r\n"
  recorded_at: Thu, 14 May 2015 08:43:44 GMT
recorded_with: VCR 2.9.0
